
*{
  margin: 0;
  padding: 0;
 
}

.bgColorTable{
  background-color: rgb(157, 107, 203);
}

.containerTable {
  color:white;
}

.App-header {
  align-content: center;
  align-items: center;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
